@font-face {
    font-family:'Citrus';
    src:url("../fonts/CitrusGothicRough-Regular.ttf");
}

@font-face {
    font-family:'Europa';
    src:url("../fonts/europa-bold-webfont.ttf");
}

/* Reseta o CSS padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

/* Top Bar */
.top-bar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    position: fixed;
    font-family: "Europa";
}

.countdown {
    font-family: "Europa";
    margin-top: 5px;
}

/* Banner */
.banner img {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

/* Content */
.content {
    text-align: center;
    padding: 20px;
}

.content h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Citrus";
}

.content p {
    font-size: 16px;
    color: #ccc;
}

b {
    color: #DAA520;
    text-transform: uppercase;
}

.lote {
    color: orange !important;
    text-decoration: line-through;
}

.ultlote {
    font-size: 24px !important;
}

.vagas {
    font-size: 24px;
}

/* Formulário */
.form-section {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

#lead-form input {
    width: 80%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#lead-form button {
    width: 80%;
    padding: 15px;
    margin-top: 10px;
    background-color: #DAA520;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#lead-form button:hover {
    background-color: #c19018;
}

/* Imagens de Pacientes */
.patient-images {
    display: flex;
    justify-content: space-between;
}

.patient-images img {
    width: 32%;
    height: auto;
}

/* Cards de Avaliações */
.testimonial-cards {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    width: 32%;
    text-align: center;
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    font-family: "Europa";
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.stars {
    color: #FFD700;
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    font-size: 18px;
    color: #ccc;
}

.card .pacient-name {
    font-size: 24px !important;
    color: #FFD700 !important;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 5px;
    color: #fff;
}

.social-icons a:hover {
    color: #DAA520;
}

.ctas {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Citrus";
    text-align: center;
    justify-content: center;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    /* Imagens de Pacientes na vertical */
    .patient-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .patient-images img {
        width: 100%;
    }

    /* Cards de Avaliações na vertical */
    .testimonial-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

